@tailwind base;
@tailwind components;
@tailwind utilities;

.timer {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide,
button.hide {
  display: none;
}

.my-carousel-progress {
  background: rgb(219 234 254);
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
}

.my-carousel-progress-bar {
  background: rgb(37 99 235);
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}

.options {
  padding-left: 20%;
  padding-right: 20%;
}
